<div class="ebytes_group_cover_info_inner_container">
    <div class="ebytes_group_cover_informations_container">
        <bx_if:display_author>__author_container__</bx_if:display_author>
        <bx_if:display_location>__location_container__</bx_if:display_location>
        <bx_if:display_created_date> __created_date_container__ </bx_if:display_created_date>
        <bx_if:display_description> __description_container__ </bx_if:display_description>
    </div>
</div>
<div class='ebytes_group_cover_info_link_container'>__about_caption__</div>
